@media (max-width:767px){
    #banner_sec .banner_ttl{
        font-size:20px ;
    }
    h2{
        font-size: 17px;
    }
     p{
        font-size:10px ;
    }
}
@media (min-width:767px) and (max-width:991px){
    #banner_sec .banner_ttl{
        font-size:30px ;
    }
    h2{
        font-size: 25px;
    }
     p{
        font-size:15px ;
    }
}